<launch>
  
  <arg name="ws_name"             default="seher_ws"/>
  <arg name="serial_no_camera1"    			default="937622073146"/>
  <arg name="camera1"              			default="cam1"/>

  <arg name="serial_no_camera2"    			default="838212073332"/>
  <arg name="camera2"              			default="cam2"/>


  


  
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="camera" value="$(arg camera1)"/>
    <arg name="serial_no" value="$(arg serial_no_camera1)"/>

    <arg name="align_depth" value="true" />
    <arg name="filters" value="pointcloud" />

  </include>


 
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    <arg name="camera" value="$(arg camera2)"/>
    <arg name="serial_no" value="$(arg serial_no_camera2)"/>

    <arg name="align_depth" value="true" />
    <arg name="filters" value="pointcloud" />

  </include>

  <!--<include file="$(find seher)/launch/setup_static_publisher.launch"> </include>-->



  
</launch>