<launch>
	<!-- TCP tf publisher for MSB externl distance calculation -->
	<node name="tf_TCP_link" pkg="tf" type="static_transform_publisher" output="screen" args="0 0 0.072 0 0 0.707 0.707 wrist_3_link egp50_body_link 60" />
	<node name="msb_ros_bridge" pkg="vfk_msb_client" type="msb_ros_bridge.py" output="screen">
		<!-- MSB to connect to -->
		<param name="host" value="ws://ws.msb.seher.dia.cell.vfk.fraunhofer.de" />

		<!-- UUID for connection -->
		<param name="uuid" value="371fc450-aee0-42ce-bfe0-29ffbcd302c9" />

		<!-- Name for connection -->
		<param name="name" value="External computer for distance computing" />

		<!-- Description for connection -->
		<param name="desc" value="External computer which perform the minimal distance calculation for Seher Robot" />
C
		<!-- Token for connection -->
		<param name="token" value="JT4eNGNwcJ" />

		<!-- Topics to subscribe in ros -->
		<param name="topics_sub" value="/distance_calculation/minimal_distance" />

		<!-- Topics to publish in ROS -->
		<param name="topics_pub" value="/cameras/depth_pointcloud_fusion_final sensor_msgs/PointCloud2,
						/tf tf2_msgs/TFMessage" />
		
		<!-- Register all topics as string and send json to MSB -->
		<param name="json_only" value="True" />
	</node>
</launch>
